:root{
    --textos__principais: 'Questrial', sans-serif;
    --textos__secundarios: 'Arimo', sans-serif;
}
* a{
    text-decoration: none;
    margin: 0;
}
body{
    background-color: #080808;
}
/* === HEADER === */
header{
    width: 100vw;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE419;
    border-radius: 0 0 10px 10px; 
    position: fixed;
    top: 0;
}
header:hover{
    transform: 1.05;
    background-color: #ffe419b1;
}
header .home{
    margin-left: 17px;
}
header .contato{
    margin-right: 17px;
}
    /* === MAIN === */
main h1{
    font-family: var(--textos__principais);
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    margin-top: 104px;
}
main .container{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 15px;
}
main .container .bg{
    width: 100vw;
    height: 388px;
    background-color: #181818;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .container .cor{
    background-color: #181818;
}
main .container .item2{
    background-color: transparent;
}
main .container .bg__jogo{
    width: 280px;
    background-color: #FFE419;
    border-radius: 10px;
    text-align: center;
}
main .container .bg__jogo img{
    width: 272px;
    margin-top: 5px;
}
main .container .bg__jogo .icon{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 10px;
}
main .container .bg__jogo .icon .xbox img{
    width: 32px;
}
main .container .bg__jogo .icon .steam img{
    width: 34px;
}
main .container .bg__jogo .icon .playstation img{
    width: 34px;
}
main .container .bg__jogo .icon .switch img{
    width: 32px;
}
main .container .bg__jogo .icon hr{
    width: 1px;
    height: 30px;
    background-color: black;
    border: none;
    margin: 0;
}
main .container .bg__jogo .icon .adicionar__carrinho img{
    width: 39px;
    transition: 0.5s;
}
main .container .bg__jogo .icon .adicionar__carrinho img:hover{
    transform: scale(1.1);
}
main .botao{
    width: 230px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFE419;
    border-radius: 20px;
    margin: 40px auto 40px auto;
    transition: 0.5s;
}
main .botao:hover{
    background-color: #a8960e;
    transform: scale(1.1);
}
main .botao h1{
    margin: 0;
    font-size: 26px;
    color: #000000;
}

/* === INICIO FOOTER === */
    /* === INICIO BOTOES === */
footer .bg{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #80720D;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 40px;
}
footer .bg .item{
    width: 100px;
    height: 72px;
    background-color: #FFE419;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin: 15px 0 15px 0;
}
footer .bg .item:hover{
    background-color: #a8960e;
    transform: scale(1.05);
}
footer .bg h2{
    font-family: var(--textos__secundarios);
    font-size: 28px;
    display: none;
    color: black;
}
/* ====== INICIO FORMATAÇÃO PARA TABLETS ======  */
@media (min-width: 650px){
    header{
        width: 228px;
        border-radius: 20px;
        margin: 15px 0 0 15px;
        transition: 0.3s;
    }
    header:hover{
        transform: scale(1.08);
    }
    main .container > .item1{
        width: 50vw;
    }
    main .container > .item2{
        width: 50vw;
    }
    main .container > .item3{
        background-color: transparent;
        width: 50vw;
    }
    main .container > .cor__direita{
        background-color: #181818;
        border-radius: 0 20px 20px 0;
    }
    main .container > .cor__esquerda{
        background-color: #181818;
        border-radius: 20px 0 0 20px;
    }
    main .botao{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    footer .bg{
        height: 100px;
        justify-content: center;
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 0;
        border-radius: 20px 20px 0 0;
    }
    footer .item{
        min-width: 202px;
        column-gap: 10px;
    }
    footer .bg h2{
        display: block;
    }
}
    /* ====== INICIO FORMATAÇÃO PARA DESKTOP ====== */
@media (min-width: 1200px){
    header{
        width: 62px;
        height: 200px;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
        margin: 10px 0 0 10px;
    }
    header:hover{
        transform: scale(1.05);
    }
    header a .home, a .carrinho, a .contato{
        margin: 0;
    }
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .container{
        background-color: #181818;
        border-radius: 20px;
        margin-top: 100px;
        width: 80vw;
    }
    main .container .item1, main .container .item2, main .container .item3{
        width: 33%;
        background-color: transparent;
    }
   
    footer .bg{
        border-radius: 0px;
        margin-bottom: 0;
        margin-top: 40px;
    }
    footer .bg .item{
        column-gap: 10px;
    }
}
